.header {
  background-color: alpha(var(--mantine-color-body), 0.85);
  backdrop-filter: blur(5px);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.main {
  padding-bottom: 120px;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--mantine-color-text);
  text-decoration: none;

  & > img {
    display: block;
    margin-right: 10px;
  }
}
